<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- This will change to the JNDI. I have kept the connection details here 
			for the test cases. We will Abstract this at a later stage -->
		<property name="connection.datasource">java:jboss/datasources/CessAssignDS</property>
		<!-- <property name="connection.url">jdbc:oracle:thin:@172.16.161.105:1521:ONED</property> 
			<property name="connection.username">MANOWNER</property> <property name="connection.password">MANOWNER</property> 
			<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> -->
		<!-- <property name="dialect">org.hibernate.dialect.MySQLDialect</property> -->
		<!-- <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property> -->
		<property name="show_sql">false</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">none</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.jdbc.use_get_generated_keys">true</property>
		<property name="hibernate.jdbc.batch_size">500</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
		
		<mapping class="com.bsva.entities.MdtArcCashAccountEntity"/>
	    <mapping class="com.bsva.entities.MdtOpsAccptGrphdrEntity"/>
		<mapping class="com.bsva.entities.MdtArcFinInstEntity" />
		<mapping class="com.bsva.entities.MdtArcGrpHdrEntity" />
		<mapping class="com.bsva.entities.MdtArcMandateRegisterEntity" />
		<mapping class="com.bsva.entities.MdtArcPartyIdentEntity" />
		<mapping class="com.bsva.entities.MdtArcRefDocEntity" />
		<mapping class="com.bsva.entities.MdtArcSupplDataEntity" />
		<mapping class="com.bsva.entities.MdtCreditorEntity" />
		<mapping class="com.bsva.entities.MdtCnfgCurrencyCodesEntity" />
		<mapping class="com.bsva.entities.MdtCnfgDebitValueTypeEntity" />
		<mapping class="com.bsva.entities.MdtCnfgFrequencyCodesEntity" />
		<mapping class="com.bsva.entities.MdtCnfgLocalInstrCodesEntity" />
		<mapping class="com.bsva.entities.MdtCnfgReasonCodesEntity" />
		<mapping class="com.bsva.entities.MdtCnfgSequenceTypeEntity" />
		<mapping class="com.bsva.entities.MdtProcessControlEntity" />		
		<mapping class="com.bsva.entities.CisBinCardNoEntity" />
		<mapping class="com.bsva.entities.CisBranchCentreEntity" />
		<mapping class="com.bsva.entities.CisBranchCentreId" />
		<mapping class="com.bsva.entities.CisBranchEntity" />
		<mapping class="com.bsva.entities.CisCim900DistributionListEntity" />
		<mapping class="com.bsva.entities.CisCompanyEntity" />
		<mapping class="com.bsva.entities.CisMemberEntity" />
		<mapping class="com.bsva.entities.MdtSysctrlCustParamEntity" />
		<mapping class="com.bsva.entities.MdtCnfgFinInstTypeEntity" />
		<mapping class="com.bsva.entities.MdtCnfgPartyIdentTypeEntity" />
		<mapping class="com.bsva.entities.MdtOpsCashAccountEntity" />
		<mapping class="com.bsva.entities.MdtOpsCashAccountId" />
		<mapping class="com.bsva.entities.MdtOpsFinInstEntity" />
		<mapping class="com.bsva.entities.MdtOpsFinInstId" />
		<mapping class="com.bsva.entities.MdtOpsServicesEntity"/>
		<mapping class="com.bsva.entities.MdtOpsCustParamEntity"/>
		<mapping class="com.bsva.entities.MdtOpsCronEntity"/>
		<mapping class="com.bsva.entities.MdtOpsGrpHdrEntity" />
		<mapping class="com.bsva.entities.MdtCnfgCountryCodesEntity"/>
		<mapping class="com.bsva.entities.MdtOpsMandateRegisterEntity" />
		<mapping class="com.bsva.entities.MdtOpsPartyIdentEntity" />
		<mapping class="com.bsva.entities.MdtOpsPartyIdentId" />
		<mapping class="com.bsva.entities.MdtOpsRefDocEntity" />
		<mapping class="com.bsva.entities.MdtOpsSupplDataEntity" />
		<mapping class="com.bsva.entities.MdtOpsFileRegEntity" />
		<mapping class="com.bsva.entities.MdtSysctrlServicesEntity"/>
		<mapping class="com.bsva.entities.MdtOpsAccptMsgDetailEntity"/>
		<mapping class="com.bsva.entities.MdtCnfgEntryClassesEntity"/>
		<mapping class="com.bsva.entities.MdtCnfgSeverityCodesEntity"/>
		<mapping class="com.bsva.entities.MdtCnfgErrorCodesEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlSchedulerEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlCompParamEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlSysParamEntity"/>
		<mapping class="com.bsva.entities.MdtOpsAccptFinInstEntity"/>
		<mapping class="com.bsva.entities.MdtOpsAccptPartyIdentEntity"/>
		<mapping class="com.bsva.entities.MdtOpsMdteRequestEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlCronEntity"/>
	    <mapping class="com.bsva.entities.MdtSysctrlFileStatusEntity"/>
	    <mapping class="com.bsva.entities.MdtCnfgAddressTypeEntity"/>
	    <mapping class="com.bsva.entities.MdtCnfgNamePrefixEntity"/>
	    <mapping class="com.bsva.entities.MdtCnfgReportNamesEntity"/>
	    <mapping class="com.bsva.entities.AudTrackingEntity"/>
	    <mapping class="com.bsva.entities.AudReportsEntity"/>
	    <mapping class="com.bsva.entities.AudCtrlCompParamEntity"/>	   
	    <mapping class="com.bsva.entities.MdtCnfgDwnldReqTypeEntity"/>	  
	    <mapping class="com.bsva.entities.MdtCnfgRejectReasonCodesEntity"/>	
	    <mapping class="com.bsva.entities.MdtCnfgAuthTypeEntity"/>  
	    <mapping class="com.bsva.entities.MdtCnfgRejectReasonCodesEntity"/>
	    <mapping class="com.bsva.entities.MdtAcOpsSupplDataEntity"/>	
	    <mapping class="com.bsva.entities.MdtAcOpsRefDocEntity"/>	  
	    <mapping class="com.bsva.entities.MdtAcOpsPartyIdentEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsGrpHdrEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsMndtMsgEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsFinInstEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsCashAccountEntity"/>
	 	<mapping class="com.bsva.entities.MdtOpsRefSeqNrEntity"/> 
	 	<mapping class="com.bsva.entities.MdtAcOpsStatusDetailsEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsStatusHdrsEntity"/>  
		<mapping class="com.bsva.entities.MdtSysctrlProcessStatusEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsMdteReqHdrEntity"/>  
		<mapping class="com.bsva.entities.MdtAcOpsMdteRequestEntity"/>  
		<mapping class="com.bsva.entities.MdtCnfgAdjustmentCatEntity"/>  
		<mapping class="com.bsva.entities.MdtSysctrlXsdVersionEntity"/>  
		<!-- mapping class="com.bsva.entities.MdtAcOpsMdteRespEntity"/-->
		<mapping class="com.bsva.entities.MdtOpsProcessControlsEntity"/>
		<mapping class="com.bsva.entities.MdtAcOpsSotEotCtrlEntity"/>
		<mapping class="com.bsva.entities.SysCisBankEntity"/>
		<mapping class="com.bsva.entities.SysCisBranchEntity"/>
		<mapping class="com.bsva.entities.MdtAcOpsPubholEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlPubholEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlBillingParamEntity"/>
        <mapping class="com.bsva.entities.MdtAcOpsMndtCountEntity"/> 
        <mapping class="com.bsva.entities.MdtCnfgStatusReasonCodesEntity"/> 
        <mapping class="com.bsva.entities.MdtAcOpsDailyBillingEntity"/>   
        <mapping class="com.bsva.entities.MdtAcArcFinInstEntity"/> 
        <mapping class="com.bsva.entities.MdtArcCashAccountEntity"/>
        <mapping class="com.bsva.entities.MdtAcArcGrpHdrEntity"/>
        <mapping class="com.bsva.entities.MdtAcArcMdteRequestEntity"/>
        <!--mapping class="com.bsva.entities.MdtAcArcMdteRespEntity"/ -->
        <mapping class="com.bsva.entities.MdtAcArcMndtMsgEntity"/>
        <mapping class="com.bsva.entities.MdtArcPartyIdentEntity"/>
        <mapping class="com.bsva.entities.MdtAcArcRefDocEntity"/>
        <mapping class="com.bsva.entities.MdtAcArcCashAccountEntity"/>
        <mapping class="com.bsva.entities.MdtAcArcPartyIdentEntity"/> 
        <mapping class="com.bsva.entities.MdtAcArcSupplDataEntity"/>
        <mapping class="com.bsva.entities.MdtCnfgAccountTypeEntity"/>
        <mapping class="com.bsva.entities.MdtCnfgCancellationCodesEntity"/>
        <mapping class="com.bsva.entities.MdtAcOpsTransCtrlMsgEntity"/>
        <mapping class="com.bsva.entities.MdtCnfgValRuleEntity"/>
        <mapping class="com.bsva.entities.MdtAcOpsProcessControlsEntity"/>
       	<mapping class="com.bsva.entities.MdtAcArcStatusHdrsEntity"/>
      	<mapping class="com.bsva.entities.MdtAcArcStatusDetailsEntity"/>
      	<mapping class="com.bsva.entities.MdtSysctrlSlaTimesEntity"/>
      	<mapping class="com.bsva.entities.MdtOpsSlaTimesEntity"/>
      	<mapping class="com.bsva.entities.ObsBillingStagingEntity"/>
      	<mapping class="com.bsva.entities.MdtAcOpsSchedulerEntity"/> 
      	<mapping class="com.bsva.entities.MdtCnfgSuspensionCodesEntity"/>
      	<mapping class="com.bsva.entities.MdtCnfgAmendmentCodesEntity"/> 
      	<mapping class="com.bsva.entities.MdtAcArcSuspGrpHdrEntity"/> 
      	<mapping class="com.bsva.entities.MdtAcArcSuspMsgEntity"/> 
      	<mapping class="com.bsva.entities.MdtAcOpsSuspGrpHdrEntity"/> 
      	<mapping class="com.bsva.entities.MdtAcOpsSuspMsgEntity"/>
      	<mapping class="com.bsva.entities.MdtAcOpsOrgnlMndtEntity"/>
      	<mapping class="com.bsva.entities.MdtAcArcOrgnlMndtEntity"/>
      	<mapping class="com.bsva.entities.MdtAcOpsConfHdrsEntity"/>
      	<mapping class="com.bsva.entities.MdtAcOpsConfDetailsEntity"/>
      	<mapping class="com.bsva.entities.MdtAcArcConfHdrsEntity"/>
      	<mapping class="com.bsva.entities.MdtAcArcConfDetailsEntity"/>
		<mapping class="com.bsva.entities.SysCisBranchCdvParametersEntity"/>
		<!--mapping class="com.bsva.entities.MdtAcOpsMdteRespMsgEntity"/>
		<mapping class="com.bsva.entities.MdtAcArcMdteRespMsgEntity"/-->
      	<mapping class="com.bsva.entities.IamSessionEntity"/>
      	<mapping class="com.bsva.entities.MdtAcArcMndtCountEntity"/>
      	<mapping class="com.bsva.entities.JnlAcqEntity"/>
      	<mapping class="com.bsva.entities.MdtAcOnlJnlacqRefEntity"/>
      	<mapping class="com.bsva.entities.MdtAcOpsBillingCtrlsEntity"/>
      	<mapping class="com.bsva.entities.ObsSystemBillingCtrlsEntity"/>
      	<mapping class="com.bsva.entities.ArcJnlAcqEntity"/>
      	<mapping class="com.bsva.entities.MdtAcArcDailyBillingEntity"/>
      	<mapping class="com.bsva.entities.AudSystemProcessEntity"/>
      	<mapping class="com.bsva.entities.MdtSysctrlSchedulerCronEntity"/> 
      	<mapping class="com.bsva.entities.MdtAcArcErrorCodesReportEntity"/> 
    	<mapping class="com.bsva.entities.MdtAcOpsErrorCodesReportEntity"/> 
    	<mapping class="com.bsva.entities.MdtAcArcErrCodesRepSumEntity"/>
    	<mapping class="com.bsva.entities.MdtOpsRepSeqNrEntity"/>
    	<mapping class="com.bsva.entities.MdtOpsLastExtractTimesEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcArcFileRegEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsMandateTxnsEntity" />
	 	<mapping class="com.bsva.entities.MdtAcArcMandateTxnsEntity" />
	 	<mapping class="com.bsva.entities.MdtAcOpsMrkoffGrpHdrEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsMrkoffAcceptDetEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcArcMrkoffGrpHdrEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcArcMrkoffAcceptDetEntity"/>
		<mapping class="com.bsva.entities.MdtSysctrlFileSizeLimitEntity"/>
		<mapping class="com.bsva.entities.MdtAcOpsFileSizeLimitEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsTxnsBillingEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcArcTxnsBillingEntity"/>
	 	<mapping class="com.bsva.entities.ObsTxnsBillStagingEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsMdteRspTxnsEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsRtTxnsBillEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcArcRtTxnsBillEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcConfigDataTimeEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcOpsTxnsBillReportEntity"/>
	 	<mapping class="com.bsva.entities.MdtAcArcTxnsBillReportEntity"/>
	    </session-factory>
</hibernate-configuration>  